.bg-admin {
    background-color: #f44336;
}

.bg-pegawai {
    background-color: #9c27b0;
}

.bg-staff {
    background-color: #3f51b5;
}


.badge-open {
    background-color: #4caf50;
    color: white;
}

.badge-close {
    background-color: #f44336;
    color: white;
}